{% if NCHAN %}
load_module modules/ngx_nchan_module.so;
{% endif %}
daemon off;
user www-data;
{% if WORKER.PROCESSES %}
worker_processes  {{ WORKER_PROCESSES }};
{% else %}
worker_processes auto;
{% endif %}

events {
    worker_connections  {{ WORKER_CONNECTIONS }};
}

{% if ABOUT %}
env TIMEZONE;
env HOSTNAME;
{% endif %}
{%- if ABOUT_ENV %}
{%- for i in ABOUT_ENV %}
env {{i}};
{%- endfor %}
{%- endif %}
{%- if UPLOAD_ROOT %}
env UPLOAD_ROOT;
{%- endif %}

http {
    include            mime.types;
    sendfile           on;

    keepalive_timeout  0;

    gzip               on;

    log_format apm     'time=$time_iso8601 client=$remote_addr '
                       'method=$request_method uri=$request_uri proto=$server_protocol '
                       'req_len=$request_length '
                       'req_time=$request_time '
                       'stat=$status sent=$bytes_sent '
                       'body_sent=$body_bytes_sent '
                       'referer=$http_referer '
                       'ua="$http_user_agent" '
                       'us_addr=$upstream_addr '
                       'us_status=$upstream_status '
                       'ust_res=$upstream_response_time '
                       'ust_conn=$upstream_connect_time '
                       'ust_header=$upstream_header_time';

    {%- if MAP_VARS %}
    {%- for m in MAP_VARS %}
    map ${{ m.src }} ${{ m.dest }} {
        {%- for k, v in m.value %}
        '{{ k }}' '{{ v }}';
        {%- endfor %}
    }
    {%- endfor %}
    {%- endif %}


    server {
        set $root             '{{ WEB_ROOT }}';
        listen                {{ LISTEN_PORT }};
        root                  $root;
        charset               utf-8;
        default_type          application/{{ DEFAULT_TYPE }};

        proxy_http_version    1.1;
        proxy_set_header      Host              $host;
        proxy_set_header      X-Real-IP         $remote_addr;
        proxy_set_header      X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header      X-Forwarded-Proto $scheme;
        proxy_set_header      X-Original-URI    $request_uri;
        proxy_set_header      Connection        "upgrade";
        proxy_set_header      Upgrade           $http_upgrade;
        proxy_connect_timeout {{ TIMEOUT }};
        proxy_read_timeout    {{ TIMEOUT }};
        proxy_send_timeout    {{ TIMEOUT }};
        client_max_body_size  {{ MAXBODY }};
        chunked_transfer_encoding on;

        {% if RESOLVER %}
        resolver {{ RESOLVER }};
        {% endif %}
        #access_log  /var/log/openresty/access.log   apm;

        location / {
            autoindex on;
            autoindex_format json;
        }

        {% if REAL_REMOTE %}
        set_by_lua_block $real_remote {
            if ngx.var.http_x_forwarded_for then
                for r in ngx.var.http_x_forwarded_for:gmatch('([^,]+)') do
                    return r
                end
            end
            return ngx.var.remote_addr
        }
        {% endif %}

        {% if ABOUT %}
        location = /about {
            default_type application/json;
            content_by_lua_block {
                local json = require('cjson')
                local data = {}
                local file = io.open('/about.json', 'r')
                if file ~= nil then
                    local txt = file:read('*all')
                    data = json.decode(txt)
                    io.close(file)
                end

                data.host = ngx.var.http_host
                data.useraddr = ngx.var.real_remote
                data.timezone = os.getenv("TIMEZONE")
                data.hostname = os.getenv("HOSTNAME")
                data.useragent = ngx.req.get_headers()['user-agent']
                {% if ABOUT_ENV %}
                data.env = {}
                {%- for i in ABOUT_ENV %}
                data.env.{{i}} = os.getenv("{{i}}")
                {%- endfor %}
                {%- endif %}

                ngx.say(json.encode(data))
                ngx.exit(200)
            }
        }
        {% endif %}

        {% if HTTP_BIN %}
        include ./bin.conf;
        {% endif %}

        {% if REPLACE_HOST %}
        {% for i in REPLACE_HOST %}
        location = {{ i }} {
            try_files $uri =404;
            header_filter_by_lua_block {
                ngx.header.content_length = nil
            }
            body_filter_by_lua_block {
                host = ngx.var.scheme.."://".. ngx.var.http_host
                ngx.arg[1] = ngx.arg[1]:gsub('${HTTP_HOST}', host)
                --ngx.arg[1] = ngx.re.sub(ngx.arg[1], '\\${HOST}', host)
            }
        }
        {% endfor %}
        {% endif %}

        {% if UPLOAD_ROOT %}
        location ~ /{{UPLOAD_ROOT}}/(.*) {
            {% if HTPASSWORD %}
            auth_basic "Please enter your username and password";
            auth_basic_user_file {{ HTACCESS_USER_FILE }};
            {% endif %}
            set $path $1;
            content_by_lua_file conf/lua/upload.lua;
        }
        {% endif %}

        {% if PATH_TO_IP %}
        location ~ /([0-9]+)/(.*) {
            proxy_pass http://127.0.0.1:$1/$2;
        }
        {% endif %}

        location = /favicon.ico {
            log_not_found off;
            access_log off;
        }

        location = /robots.txt {
            allow all;
            log_not_found off;
            access_log off;
        }

        error_page      500 502 503 504  /50x.html;
        location = /50x.html {
            root   /usr/share/nginx/html;
        }

        {% if location %}
        {% for i in location %}
        location {{ i.path }} {
            {%- if i.rewrite %}
            rewrite {{ i.rewrite.from }} {{ i.rewrite.to }} break;
            {%- endif %}
            proxy_set_header Host $host;
            proxy_pass {{ i.backend }};
        }
        {% endfor %}
        {% endif %}

        include ./ext/*.conf;
    }
}
